.top{
	width: 100%;
	height: 573px;
	overflow: hidden; background:url(tbg.jpg) center no-repeat
}
.top-1{ width:964px; margin:0px auto; height:573px; position:relative}

.wrap{
	width: 100%;

	overflow: hidden;
}
.wrapC{
	width: 964px;
	margin: 0 auto; clear:both
	
}
.baise{  overflow:hidden; padding:25px 0px; margin-top:22px}
.wrapC h1{
	background: url(titleBg.png) no-repeat;
	height: 140px;
	font-size: 53px;
	color: #ffff00;
	text-align: center;
	line-height:65px;
	padding-top: 5px;
}
.con01{
width: 974px; overflow:hidden; margin-top:35px
}
.con01 ul{
	width: 1174px;
}
.con01 ul li{

	width: 172px;
	height: 255px;
	padding-top: 43px;
	float: left;
	margin-right: 9px;border-radius:25px; position:relative; margin-right:43px; margin-left:32px
}
.con01 ul li h2{
	font-size: 24px;
	color: #e9423c;
	line-height: 34px;
	text-align: center;
}
.con01 ul li p{
	
	margin: 20px auto 0;
	font-size: 17px;
	color: #fff;
	line-height: 31px;
	text-indent: 2em; padding:0px 15px; display:block
}
.con02{
	overflow: hidden;
	margin-bottom: 17px; margin-top:33px
}
.con02L{
	background: url(con02-tu1.png) no-repeat;
	width: 562px;
	height: 157px;
	padding: 20px 0 0 25px;
	position: relative;
}
.con02L span{
	display: inline-block;
	position: absolute;
	top: 22px;
	right:15px;
	font-size: 65px;
	color: #fff100;
	font-weight: bold;
	font-family: arial;
	line-height: 80px;
	letter-spacing: -2px;
}
.con02L span a{	font-size: 60px;
	color: #fff100;}
.con02L-left h2{
	height: 40px;
	margin-bottom: 15px;
}
.con02L-right{
	font-size: 30px;
	line-height: 45px;
	color: #fff;
	font-weight: bold;
	margin:78px 0 0 18px;
}
.con02R{
	background: url(con02-tu2.png) no-repeat;
	width: 371px;
	height: 176px;
}
.con02RL{
	width: 45px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-weight: bold;
	margin: 10px 0 0 20px;
}
.con02RR{
	 background-color:#0063a2;border-radius:22px; padding:22px 0px
}


.con02RRB{height:110px}
.con02Rcul li a{
	display: inline-block;
	color: #000;
	line-height: 22px; 
}
.con02RRB ul li{
	height: 22px;
	line-height: 22px;
	color: #000;
	padding-left: 10px; float:left; color:#FFFFFF; width:410px; margin-left:53px
}
.con02RRB ul li a{ color:#FFFFFF;font-size: 20px;}
.con03{
	overflow: hidden;
}
.conTitle{
	background: url(title.png) no-repeat;
	height: 52px;
	line-height: 52px;
	font-size: 28px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin-bottom: 9px;
}
.con03C{
	overflow: hidden;
}
.con03C ul{
	width: 989px;
}
.con03C ul li{
	float: left;
	width: 469px;
	height: 402px;
	background: #fff;
	margin: 0 25px 10px 0;
}
.con03C ul li h3{
	font-size: 22px;
	color: #fff;
	height: 58px;
	line-height: 58px;
	background: #45b8bf;
	text-align: center;
}
.con03C ul li h3.h3_1{
	background: #3ea61b;
}
.con03C ul li h3.h3_2{
	background: #f55176;
}
.con03C ul li h3.h3_3{
	background: #36abe1;
}
.con03Con{
	width: 445px;
	margin: 14px auto 0;
}
.con03Con img{
	float: left;
	display: inline-block;
	width: 210px;
	height: 186px;
	margin: 0 10px 5px 0;
}
.con03Con p{
	font-size:17px;
	line-height: 24px;
}
.con04{
	overflow: hidden;
	height: 285px;
	background: url(con04Bg.png) no-repeat;
	padding-top: 10px;
}
.con04 h2{
	height: 102px;
	text-align: center;
}
.con04 p{
	width: 590px;
	font-weight: bold;
	font-size: 22px;
	color: #000;
	line-height: 32px;
	text-indent: 2em;
	margin-left: 20px;
}
.con04 p span{
	color: #e80000;
}
.con04 p b{
	font-size: 32px;
	color: #e80000;
}
.con05{
	overflow: hidden;
	margin-top: 25px;
}
.con05C{
	overflow: hidden;
}
.con05C ul{
	width: 974px;
}
.con05C ul li{
	width: 235px;
	height: 400px;
	float: left;
	margin-right: 8px;
}
.con05C ul li.li01{
	background: #277e9a;
}
.con05C ul li.li01 .con05T{
	height: 103px;
	background: #185c7a;
}
.con05C ul li.li02{
	background: #4d497b;
}
.con05C ul li.li02 .con05T{
	height: 103px;
	background: #5b5591;
}
.con05C ul li.li03{
	background: #cf5157;
}
.con05C ul li.li03 .con05T{
	height: 103px;
	background: #fc4952;
}
.con05C ul li.li04{
	background: #694bdf;
}
.con05C ul li.li04 .con05T{
	height: 103px;
	background: #5f36ff;
}
.con05T{
	text-align: center;
}
.con05T span{
	display: inline-block;
	background: url(circle.png) no-repeat;
	width: 72px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	margin-top: 10px;
	font-size: 40px;
	color: #000;
	font-family: arial;
	font-weight: bold;
}
.con05B{
	font-size: 20px;
	line-height: 32px;
	color: #fff;
	text-indent: 2em;
	padding: 10px 15px;
}
.con06{
	width: 100%;

}
.con06C{
	width: 964px;
	margin: 0 auto;
	overflow: hidden;
}
.con06CL{

	width: 354px;
	height: 265px;
	margin: 52px 22px 0 0;
}
.con06CL h3{ color:#ff0000; font-size:40px; text-indent:22px}
.con06CL h5{ color:#ff0000; font-size:35px; text-indent:42px}
.con06CLT{
	height: 68px;
	text-align: center;
	margin-top: 25px;
	color: #fff;
	overflow: hidden;
}
.con06CLT h3{
	font-size: 30px;	
	line-height: 32px;
}
.con06CL p{
	font-size: 23px;
}
.con06CLB{
	overflow: hidden;
	padding: 10px 40px 0 45px; height:140px
}
.con06CLB ul li{
	height: 25px;
	line-height: 25px;
	background: url(dot.png) no-repeat left center;
	color: #000;
	padding-left: 10px;
}
.con06CLB ul li a{
	display: inline-block;
	color: #000;
	line-height: 25px;
}
.con06CR h2{
	margin-top: 18px;
}
.con06CR-bot{
	background: url(QQBg.png) no-repeat;
	width: 414px;
	height: 118px;
	margin:8px 0 0 45px;
	padding: 62px 0 0 128px;
}
.con06CR-bot h3{
	font-size: 70px;
	color: #e62834;
	font-family: arial;
	line-height: 70px;
}
.con06CR-bot h4{
	font-size: 32px;
	color: #000;
	line-height: 24px;
	margin-left: 50px;
}
.font1{ position:absolute; font-size:25px; color:#1b2176; position:absolute; right:0px; top:155px; text-indent:115px}
.top-1 .font1 span{ color:#ff0000; font-size:30px}
.font2{ position:absolute; font-size:60px; color:#d50202; position:absolute; left:30px; top:315px; }
.font3{ position:absolute; font-size:20px; color:#000000; position:absolute; left:30px; top:405px; }
.font4{ position:absolute; font-size:35px; color:#e62834; position:absolute; right:30px; top:375px; font-weight:bold }
.font5{ position:absolute; font-size:28px; color:#000000; position:absolute; right:60px; top:435px; font-weight:bold }
.font4 a{font-size:45px; color:#e62834; }
.font5 a{ font-size:28px; color:#000000; }

.font6{ position:absolute; font-size:30px; color:#000000; position:absolute; right:60px; top:495px; font-weight:bold }
.font6 span{ color:#d50202}
.bm-tit{ width:598px; height:29px; text-align:center; line-height:29px; text-align:center; color:#ff0000; font-size:26px; margin:10px auto; background:url(tt.png)}
.font7{ font-size:28px; color:#000000;  font-weight:bold; margin-top:33px }
.font7 span{ font-size:34px; color:#ff0000; line-height:150%; margin:15px 0px}
.font8{ width:836px; height:147px; text-align:center; line-height:130%; text-align:left; color:#ff0000; font-size:51px; margin:10px auto; background:url(ttt.png); overflow:hidden; margin-top:22px}
.font8 div{ margin-left:45px; margin-top:22px; font-weight:bold}